body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    position: relative;
}

header.banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.banner-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content .left h2 {
    margin: 0;
    font-size: 24px;
}

.banner-content .right {
    display: flex;
    align-items: center;
}

.banner-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s;
}

.banner-link:hover {
    color: #ff4081;
}

.level {
    font-size: 18px;
    margin-right: 20px;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 60px 80px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 80px 20px 0;
}

h2 {
    font-size: 30px;
    margin-bottom: 100px;
}

.quiz-button {
    padding: 20px 40px;
    margin: 10px;
    font-size: 24px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.quiz-button:hover {
    background-color: #c60055;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.quiz-button1{
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    background-color: #ff4081;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display : none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}